<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHotelBookingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.60.157:88/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHotelBookingService"
                contract="IHotelBookingService" name="BasicHttpBinding_IHotelBookingService" />
        </client>
    </system.serviceModel>
</configuration>